/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    color: rgb(17, 218, 164) !important;
  }
}

mat-option {
  a {
    color: rgb(17, 218, 164) !important;
  }
}